.all-cards {
  background: radial-gradient(
    circle at center,
    #1e293b 0%,
    #0f172a 45%,
    #020617 100%
  );
}

#card-grid .card-img-top {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 10px;
}

#card-grid .card {
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-secondary-color);
  border-width: 4px;
  background: linear-gradient(
    to bottom right,
    var(--background-primary-color),
    var(--background-secondary-color)
  );
}

.card.lendaria {
  border-color: #eab308;
}

.card.epica {
  border-color: #a335ee;
}

.card.rara {
  border-color: #0099ff;
}

.card.comum {
  border-color: #525666;
}

.card.lendaria:hover {
  transform: translateY(-5px); /* Opcional: faz a carta subir um pouco */
  box-shadow: 0 0 20px 3px rgba(234, 179, 8, 0.6);
}

.card.epica:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px 2px rgba(163, 53, 238, 0.5);
}

.card.rara:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 12px 1px rgba(0, 153, 255, 0.5);
}

.card.comum:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 8px 1px rgba(82, 86, 102, 0.4);
}

#card-grid .card h5 {
  color: var(--text-primary-color);
}

#card-grid .card p {
  color: var(--text-secondary-color);
}

#card-grid {
  padding: 64px 300px;
}

a {
  text-decoration: none;
}

@media (max-width: 1440px) {
  #card-grid {
    padding: 64px 100px;
  }
}

@media (max-width: 1024px) {
  #card-grid {
    padding: 64px 50px;
  }
}

@media (max-width: 768px) {
  #card-grid {
    padding: 64px 30px;
  }
}
