@font-face {
  font-family: "Bangers";
  src: url(../fontes/Bangers-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #0f172a;
  --background-secondary-color: #1e293b;

  --text-primary-color: #f8fafc;
  --text-secondary-color: #94a3b8;

  --special-primary-color: #ff4500;
  --special-secondary-color: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at top,
    #1e293b 0%,
    #0f172a 45%,
    #020617 100%
  );
}

.section-title {
  width: 275px;
  padding-top: 32px;
  margin: 0 auto;
}

.section-title h2 {
  color: var(--text-primary-color);
  font-family: "Bangers";
  font-size: 42px;
}

.section-title hr {
  border: 0;
  background-color: var(--special-secondary-color);
  height: 2px;
  opacity: 1;
  box-shadow:
    0 0 5px #ff4500,
    0 0 10px #ff4500,
    0 0 20px rgba(255, 215, 0, 0.6);
}
