.raridades-section {
  padding: 32px 0 64px;
  border-bottom: 2px solid rgba(255, 69, 0, 0.9);
  border-top: 2px solid rgba(255, 69, 0, 0.9);
  box-shadow: 0 4px 30px rgb(255 69 0 / 40%);
  position: relative;
  z-index: 2;
}

.raridades-grid {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  justify-content: center;
  margin-top: 32px;
}

.raridade-item {
  text-align: center;
  width: 250px;
  border-radius: 16px;
  min-height: 116px;
  padding: 26px;
  background-color: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(10px);
}

.raridade-item h6 {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 16px;
  background-color: rgba(13, 17, 23, 0.85);
}

.raridade-item.comum {
  border: 2px solid #525666;
}

.raridade-item.rara {
  border: 2px solid #0099ff;
}

.raridade-item.epica {
  border: 2px solid #a335ee;
}

.raridade-item.lendaria {
  border: 2px solid #eab308;
}

.raridade-item.comum h6 {
  border: 2px solid #525666;
  color: #8fa0ba;
}

.raridade-item.rara h6 {
  border: 2px solid #0099ff;
  color: #38bdf8;
}

.raridade-item.epica h6 {
  border: 2px solid #a335ee;
  color: #c084fc;
}

.raridade-item.lendaria h6 {
  border: 2px solid #eab308;
  color: #eab308;
}

.raridade-item p {
  color: var(--text-secondary-color);
  margin: 0;
}

@media (max-width: 768px) {
  .raridades-grid {
    flex-wrap: wrap;
  }
}
